@media (min-width: 641px) and (max-width: 1023px) {

  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .logotype {
    width: 105.44px;
    height: 10.88px;
    margin-left: 6px;

  }

  .delivery_adress {
    margin-left: 2vh;
    margin-top: 16px;

  }

  #from {
    width: 57px;
    height: 40px;

  }

  .to {
    width: 12px;
    height: 16px;
    margin: auto;
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 13px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;

    color: #626262;
  }

  #adress_to {
    width: 215px;
    height: 40px;
  }

  .verification_block {
    margin-left: 1vh;
  }

  .signIn {
    margin-left: 0;
    background: #fff;
  }

  .register {
    margin-left: 0;

  }

  .busket {
    margin: 0;
  }

  .search {
    width: 92%;
  }

  .search input {
    width: 94%;
    height: 45px;
    margin-top: 40px;
  }

  .title {
    width: 227px;
    height: 54px;
    margin: 0;
    margin-left: 7vmax;
    display: block;
  }

  .title p {
    width: 297px;
    height: 54px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 34px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #1d1d1d;
    margin-bottom: 0;
  }

  .mainContainer {
    width: 99%;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    margin-top: -10px;
  }

  .card {
    height: 370px;
    mix-blend-mode: normal;
    margin-top: 16px;
  }

  .image {
    margin: 0 auto;
    margin-left: 4.5px;
    height: auto;
    text-align: -webkit-center;
  }

  .image img {
    width: auto;
    height: auto;
  }

  footer {
    width: 100%;
  }

  .white_logo {
    width: 190.77px;
    height: 19.69px;
    margin-top: 56px;
  }

  .line {
    height: 1px;
    margin-top: 47px;
    background: #fff;
    mix-blend-mode: normal;
    opacity: 0.4;
  }

  .second_line {
    margin-left: 80px;
  }

  .third_line {
    margin-left: 86px;
  }

  .bottom_line {
    height: 93px;
  }

  .download {
    margin-left: -50px;
  }

}
